header{
  background-color: $color-bg-secondaire;
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    &-image{
      width: 150px;
      height: 150px;
      border: $white solid 4px;
      border-radius: 100%;
      margin-bottom: 20px;
      overflow: hidden;
    }
    h1, p{
      color: $white;
    }
    h1{
      margin: 0 0 5px;
    }
    p{
      font-size: rem(18);
      margin: 0;
    }
  }
}