.hero{
  color: $white;
  background: url("../images/7.jpg") center / cover no-repeat;
  .texte-bienvenue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 400px;

    padding: 20px;

    background-color: rgba(95, 109, 126, 0.4);
  }
  h2, p{
    margin-top: rem(16);
    line-height: 1.2;
  }
  p{
    font-size: rem(22);
  }
}