//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base
$white: #fff;
$black: #000;

$color-text: #777;
$color-bg: $white;
$color-bg-secondaire: #5f6d7e;
$color-section: #555;
$color-link: $white;
$color-link-hover: darken($color-link, 5%);
$color-link-actif: darken($color-link, 15%);