//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$lh-gen: 1.5;
$fz-gen: rem(16);

/// Font family
$ff-roboto: Roboto, Helvetica, Arial, sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
